nav {
    background-color:rgb(244, 199, 235) ;
    display: flex;
    align-items: center;
    height: 60px;
}


.logo {
    width: 40px;

}

a.logo-title {
    font-size: 25px;
    
    
}

nav a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0 15px
}

nav a:nth-child(3){
    margin-left: auto;
}

nav a:last-child {
    color: black;
}



.hero {
    background-image: url(/images/happy_children.jpg);
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    height: 400px;
}

.hero h1{
    display: inline-block;
    width: 45%;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 1.2;
}

.hero p  {
    display: block;
    width: 35%;
    margin-left: 50px;
    font-size: 17px;
    margin-bottom: 10px ;
}


.hero button {
    margin-left: 50px;
    width: 100px;
    height: 30px;
    background-color:rgb(244, 199, 235);
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 15;
    font-weight: bold;
    box-shadow: 5px red;
}

.hero * {
    background-color: rgba(11, 11, 11, 0.1);
 
}



